In [22]:
# Dependencies and Setup
import csv
import pandas as pd
import warnings

warnings.simplefilter("error")

In [6]:
file1_pd_16 = pd.read_csv("JC-201601-citibike-tripdata.csv")
file2_pd_16 = pd.read_csv("JC-201602-citibike-tripdata.csv")
file3_pd_16 = pd.read_csv("JC-201603-citibike-tripdata.csv")
file4_pd_16 = pd.read_csv("JC-201604-citibike-tripdata.csv")
file5_pd_16 = pd.read_csv("JC-201605-citibike-tripdata.csv")
file6_pd_16 = pd.read_csv("JC-201606-citibike-tripdata.csv")
file7_pd_16 = pd.read_csv("JC-201607-citibike-tripdata.csv")
file8_pd_16 = pd.read_csv("JC-201608-citibike-tripdata.csv")
file9_pd_16 = pd.read_csv("JC-201609-citibike-tripdata.csv")
file10_pd_16 = pd.read_csv("JC-201610-citibike-tripdata.csv")
file11_pd_16 = pd.read_csv("JC-201611-citibike-tripdata.csv")
file12_pd_16 = pd.read_csv("JC-201612-citibike-tripdata.csv")
#17
file1_pd_17 = pd.read_csv("JC-201701-citibike-tripdata.csv")
file2_pd_17 = pd.read_csv("JC-201702-citibike-tripdata.csv")
file3_pd_17 = pd.read_csv("JC-201703-citibike-tripdata.csv")
file4_pd_17 = pd.read_csv("JC-201704-citibike-tripdata.csv")
file5_pd_17 = pd.read_csv("JC-201705-citibike-tripdata.csv")
file6_pd_17 = pd.read_csv("JC-201706-citibike-tripdata.csv")
file7_pd_17 = pd.read_csv("JC-201707-citibike-tripdata.csv")
file8_pd_17 = pd.read_csv("JC-201708-citibike-tripdata.csv")
file9_pd_17 = pd.read_csv("JC-201709-citibike-tripdata.csv")
file10_pd_17 = pd.read_csv("JC-201710-citibike-tripdata.csv")
file11_pd_17 = pd.read_csv("JC-201711-citibike-tripdata.csv")
file12_pd_17 = pd.read_csv("JC-201712-citibike-tripdata.csv")
#18
file1_pd_18 = pd.read_csv("JC-201801-citibike-tripdata.csv")
file2_pd_18 = pd.read_csv("JC-201802-citibike-tripdata.csv")
file3_pd_18 = pd.read_csv("JC-201803-citibike-tripdata.csv")
file4_pd_18 = pd.read_csv("JC-201804-citibike-tripdata.csv")
file5_pd_18 = pd.read_csv("JC-201805-citibike-tripdata.csv")
file6_pd_18 = pd.read_csv("JC-201806-citibike-tripdata.csv")
file7_pd_18 = pd.read_csv("JC-201807-citibike-tripdata.csv")
file8_pd_18 = pd.read_csv("JC-201808-citibike-tripdata.csv")
file9_pd_18 = pd.read_csv("JC-201809-citibike-tripdata.csv")
file10_pd_18 = pd.read_csv("JC-201810-citibike-tripdata.csv")

In [7]:
citibike_tripdata_2016 = pd.concat([file1_pd_16, file2_pd_16, file3_pd_16,file4_pd_16,file5_pd_16, file6_pd_16, file7_pd_16,file8_pd_16,file9_pd_16, file10_pd_16, file11_pd_16,file12_pd_16],axis=0)

In [8]:
# # Script to merge several CSVs into one

# import glob
# import csv

# # Change delimiter to the appropriate one in CSV
# delimiter = ';'

# csvs = glob.glob('*.csv')

# f = open('merged_data.csv', 'wb')
# master_csv = csv.writer(f)

# # Take the header of the first CSV and make it the master header
# first_csv = open(csvs[0], 'rb')
# headers = first_csv.readline().strip().split(delimiter)
# master_csv.writerow(headers)
# # Write remaining rows
# for line in first_csv:
#     master_csv.writerow(line.strip().split(delimiter))

# # Read remaining CSVs and skip the first row
# for file in csvs[1:]:
#     current_csv = open(file, 'rb')
#     for line_num, line in enumerate(current_csv):
#         if line_num > 0:
#             master_csv.writerow(line.strip().split(delimiter))
            
# f.close()

In [9]:
citibike_tripdata_2016.isnull().any()

Trip Duration              False
Start Time                 False
Stop Time                  False
Start Station ID           False
Start Station Name         False
Start Station Latitude     False
Start Station Longitude    False
End Station ID             False
End Station Name           False
End Station Latitude       False
End Station Longitude      False
Bike ID                    False
User Type                   True
Birth Year                  True
Gender                     False
dtype: bool

In [10]:
citibike_tripdata_2016.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [11]:
citibike_tripdata_2016_clean = citibike_tripdata_2016.dropna(axis=0).reset_index(drop=True)
citibike_tripdata_2016_clean.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,445,2016-01-01 01:07:45,2016-01-01 01:15:11,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1988.0,2

In [12]:
citibike_tripdata_2016_clean["Birth Year"] = citibike_tripdata_2016_clean["Birth Year"].astype(int)

In [13]:
citibike_tripdata_2016_clean.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                   int64
Gender                       int64
dtype: object

In [14]:
citibike_tripdata_2016_clean.to_csv("CitibikeTripdata2016.csv", index=False)

In [15]:
citibike_tripdata_2017 = pd.concat([file1_pd_17, file2_pd_17, file3_pd_16,file4_pd_16,file5_pd_16, file6_pd_16, file7_pd_16,file8_pd_16,file9_pd_16, file10_pd_16, file11_pd_16,file12_pd_16],axis=0)

In [16]:
citibike_tripdata_2017.isnull().any()

Trip Duration              False
Start Time                 False
Stop Time                  False
Start Station ID           False
Start Station Name         False
Start Station Latitude     False
Start Station Longitude    False
End Station ID             False
End Station Name           False
End Station Latitude       False
End Station Longitude      False
Bike ID                    False
User Type                   True
Birth Year                  True
Gender                     False
dtype: bool

In [17]:
citibike_tripdata_2017.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [18]:
citibike_tripdata_2017_clean = citibike_tripdata_2017.dropna(axis=0).reset_index(drop=True)
#citibike_tripdata_2017_clean.head()
citibike_tripdata_2017_clean["Birth Year"] = citibike_tripdata_2017_clean["Birth Year"].astype(int)
citibike_tripdata_2017_clean.dtypes
citibike_tripdata_2017_clean.to_csv("CitibikeTripdata2017.csv", index=False)

In [23]:
citibike_tripdata_2018 = pd.concat([file1_pd_18, file2_pd_18, file3_pd_18,file4_pd_18,file5_pd_18, file6_pd_18, file7_pd_18,file8_pd_18,file9_pd_18, file10_pd_18],axis=0)

FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [20]:
citibike_tripdata_2018.isnull().any()
citibike_tripdata_2018_clean = citibike_tripdata_2018.dropna(axis=0).reset_index(drop=True)

citibike_tripdata_2018_clean["Birth Year"] = citibike_tripdata_2018_clean["Birth Year"].astype(int)
citibike_tripdata_2018_clean.dtypes
citibike_tripdata_2018_clean.to_csv("CitibikeTripdata2018.csv", index=False)